/* Header */
.containerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#E6E6FA;
    height: auto;
    width:100%;
}
.menu {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .right {
    display: flex;
    list-style-type: none;
    margin: 40 80px
}
.menu .right li {
   padding-left: 35px
}

.menu .right li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);

}
.menu .right li a:hover,
.menu .right li a:active {
    color: var(--blue);
}


.menu .left div {
    border-radius: 5px;
    padding: 10px;
}
.menu .left  {
    display: flex;
    justify-center: center;
    gap:12px;
    height: 45px;
    width: 345px;
}
.one{
   background:var(--blue); 
   color:var(--white);
   width: 130px;
   text-align: center;
   font-size: 16px;
   padding: 12px 20px;
}
.two {
    background: var(--pink); 
    color:var(--white);
    width: 130px;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    margin-left: 20px;
}
.one:hover, .one:active,
.two:hover, .two:active {
    background-color: var(--black);
    color: var(--white); 
}

#toggle-menu {
    display: none;
}
/* Header */

@media only screen and (max-width: 600px) {
    
    .menu {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .containerMenu .menu .right{
        display:none;
        
      
    }
    .containerMenu {
        display: flex;
        height: auto;
        width: 100%;
        background: none;
        margin-right: 1000px;
    }
    .menu .left div {
        border-radius: 5px;
      
    }
    .menu .left  {
        display: flex;
        justify-center: center;
        gap:1px;
        height: 100px;
        width: 200px;
        justify-content: flex-start;
   
    }
    .one{
       background:var(--blue); 
       color:var(--white);
       text-align: center;
       font-size: 12px;
       padding: 60px 20px;
    }
    .two {
        background: var(--pink); 
        color:var(--white);
        text-align: center;
        font-size: 12px;
        padding: 3px;
  
    }
   
   
}

@media only screen and (max-width: 900px) {
  
        .containerMenu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    
        .menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
         
        }
    
        .menu .left {
            display: flex;
          
            justify-content: flex-start;
            width: auto;
            margin-top: 15px;
            margin-left: 40px;
        }
    
        .menu .left div {
            border-radius: 5px;
            text-align: center;
        }
    
        .one {
            background: var(--blue);
            color: var(--white);
            font-size: 15px;
            padding: 7px 20px;
        }
    
        .two {
            background: var(--pink);
            color: var(--white);
            font-size: 15px;
            padding: 7px 20px;
            margin-left: 5px;
        }
    

        .navbar {
            order: 1;
            display: block;
            cursor: pointer;
            margin-top: 15px;
            margin-left: 40px;
            width: 70%;
            text-align: left;
            
        }
 
        .containerMenu .menu .right {
            display: none;
            flex-direction: column;
            width: 100%;
        }
    
    
        #toggle-menu:checked + .navbar + .right {
            display: block; 
        }
    
       .right {
        padding-left: 100px;
        flex-direction: column;

       }
        .right li {
            padding: 2px 0;
            font-size: 14px; 
            color: var(--gray);
            width: 100%;
            background: white;
            width: 150px;
            height: auto;
            flex-direction: column;
          
        }
        .right li a:hover {
            background-color: #f0f0f0;
        }

    }
    

  
    
    
    