*{
    margin : 0;
    padding: 0;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}
.container{
    width: 80%;
    
 }
 .navbar{
    display: none;
 }

 .part-eight {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
    height: 400px;
}

.part-eight img {
    display: block;
    padding-top: 20px;
}

.part-eight img:first-child {
    /* filter: blur(2px);  */
    width: 120%;
    height: 400px;
}

.part-eight .overlay-image {
    position: absolute;
    top: 100px;
    height: 190px;
    left: 5%;
    z-index: 1; 
}


/* Part 6 */
.part-six{
    text-align: center;
    
}
.part-six h5{
    font-size: 30px;
    margin-bottom: 20px;
}
.part-six .composer {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}

.part-six .composer button {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border: 1px   ; 
    background-color: transparent; 
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.part-six .composer .composer-button{
    background-color: var(--palegray);  
}
.part-six .composer button:hover {
    background-color: var(--palegray);  
}
.part-six  .composer button img {
    margin-right: 10px;
    height: 30px; 
    width: 30px; 
   
}
.part-six  .free-ecomposer {
    margin-bottom: 20px;
    background-color: var(--palegray);
    
}
.part-six  .free-ecomposer h5{
   padding-top:50px;
}
.part-six  .free-ecomposer p {
    margin-bottom: 20px;
    color: var(--gray);
}
.part-six  .free-ecomposer button{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  
}
.part-six  .free-ecomposer button:hover{
    background-color: var(--black);
    color: var(--white);
   
  
}
.part-six  .free-ecomposer img {
    margin-bottom: 30px
}
.part-six .composer .six-one{

    border: 1px solid var(--gray-one)
}
/* Part 5 */
.five-container{
    background: #E6E6FA;
}
.part-five {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
    margin-left: auto;
    margin-right: 130px;
  
   
  
}
.part-five div {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}
.part-five div span {
    color: var(--blue);
}
.part-five p {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--gray);
}




.part-five .text-five > div {
    flex: 1 1 25%; 
}

.part-five .text-five .side-by-side {
    display: flex;
    align-items: center;
    margin: 0;
}

.part-five .text-five img {
    max-width: 95%;
    height: auto;
    display: block;
    margin: 10px auto;
    
}

.part-five .text-five .side-by-side img:first-child {
    max-width: 50%;
}

.part-five .text-five .side-by-side img:last-child {
    max-width: 35%;
}
.part-five .text-five p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--black);
}
.five-whish {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    margin: 0 auto;
    width: 95%;
    height: auto;
}

.five-whish-one, .five-whish-two, .five-whish-there {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--white);
    height: 300px;
}
.drawer, .cards, .color , .there {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--white);
    height: 300px; 
}
.drawer, .cards, .color , .there {
    flex-basis: 30%; 
}

.five-whish-one{
    flex-basis: 60%; 
}

.five-whish-two {
    flex-basis: 25%; 
}

.five-whish-there {
    flex-basis: 35%; 
}
.five-whish-one img,
.five-whish-two img,
.five-whish-there img {
    max-width: 100%; 
}

/* Part 7 */
.part-seven {
    text-align: center;
}

.part-seven h5 {
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.part-seven p {
    margin-bottom: 20px;
    font-size: 14px;
}

.part-seven .discover {
    color: var(--gray);
}

.part-seven .seven-design {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 76%; 
    margin: 0 auto;
    margin-bottom: 40px;
}

.part-seven .seven-design img {
    width: 55px;
    height: 55px;
}
.part-seven .seven-design .item .text {
    text-align: left;
    padding-left: 0;
    margin-left: 0; 
}

.part-seven .seven-design .item .text p {
    margin: 0; 
}
.part-seven .seven-design .item .text .seven-respon {
    font-weight: bold;
    font-size: 17px;
    margin: 0; 
   
}

.part-seven .seven-design .item .text .seven-vendy {
    color: var(--gray);
    margin-top: 5px;
}

.part-seven .seven-design .item {
    display: flex;
    align-items: center;
}

.part-seven .seven-design .item img {
    margin-right: 20px;
}

.part-seven .seven-design .item .text {
    display: flex;
    flex-direction: column;
}
/* Part 9 */
.part-nine {
    text-align: center;
}

.part-nine h5 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.part-nine p {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 20px;
}

.part-nine .pricing-table {
    width: 76%;
    border-collapse: collapse;
    margin: 40px auto; 
    padding: 0px;
    border: 1px solid #ddd; 
    background-color: #f9f9f9;
    text-align: center; 
    position: relative; 
}

.part-nine .pricing-table .pricing-row,
.part-nine .pricing-table .pricing-row-color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative; 
}

.part-nine .pricing-table .pricing-row-color {
    padding: 20px 10;
    background-color: var(--blue);
    color: #fff; 
    border-radius: 5px 5px 0 0;
}

.part-nine .pricing-table .pricing-row {
    border-bottom: 1px solid #ddd;
}



.part-nine .pricing-table .pricing-row:nth-child(even) {
    background-color: var(--white);  
}

.part-nine .pricing-table .pricing-row:nth-child(odd) {
    background: var(--palegray);
}

.part-nine .pricing-table .pricing-row .pricing-feature,
.part-nine .pricing-table .pricing-row .pricing-cost,
.part-nine .pricing-table .pricing-row .pricing-included {
    font-size: 16px;
    text-align: center;
}

.part-nine .pricing-table .pricing-feature-color, 
.part-nine .pricing-table .pricing-cost-color, 
.part-nine .pricing-table .pricing-included-color {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.part-nine .pricing-table .pricing-row .pricing-feature {
    font-weight: bold;
    text-align: left; 
    padding-left: 56px;
    padding-top: 20px
}

.part-nine .pricing-table .pricing-feature-color {
    text-align: left; 
    padding-left: 55px; 
}

.part-nine .pricing-table .pricing-row .pricing-cost {
    color: var(--black);
    font-weight: bold;
}

.part-nine .pricing-table .pricing-row .pricing-cost span {
    color: var(--black);
}

.part-nine .pricing-table .pricing-row .pricing-included {
    color: var(--pink);
    font-weight: bold;
    font-size: 20px;
}

.part-nine .pricing-table .total-row .pricing-button {
    background-color: var(--pink); 
    color: var(--white); 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    font-size: 23px; 
    cursor: pointer; 
    font-weight: bold; 
    display: inline-block;
    width: 200px; 
    height: 50px; 
    margin: 20px auto 0; 
}

.part-nine .pricing-table .total-row .pricing-button:hover {
    background-color: var(--black); 
}

.part-nine .pricing-table .total-row .pricing-feature {
    font-weight: bold;
    font-size: 23px;
}

.part-nine .pricing-table .total-row .pricing-cost {
    font-weight: bold;
    font-size: 23px;
    color: var(--pink);
}

.part-nine .pricing-table .total-row .pricing-included {
    font-size: 18px;
    color: var(--pink);
}

.part-nine .pricing-table .with {
    background: var(--blue);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.part-nine .pricing-table .with p {
    font-size: 29px;
    font-weight: bold;
    color: var(--white);
    margin: 0; 
}

.part-nine .pricing-table .with span {
    background-color: #07c2ff;
    color: #fff;
    padding: 0.7px 5px;
    border-radius: 5px;
}

.part-nine .pricing-table .with span:hover {
    background-color: var(--pink);
}

.part-nine .special-overlay {
    position: absolute;
    bottom: 165px; 
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(247, 246, 253, 0.04) 0%, rgba(247, 246, 253, 0.78) 0.01%, #f7f6fd 55.21%, #f7f6fd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 100%;
    height: 100px; 
    z-index: 0;
}

.part-nine .view-button {
    background-color: transparent;
    color: var(--blue);
    border: none;
    cursor: pointer;
    font-size: 22px;
    text-transform: none;
    pointer-events: all;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

.part-nine .view-button:hover {
    text-decoration: underline;
    color: var(--pink);
}


.pricing-feature,
.pricing-cost,
.pricing-included {
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
}


.pricing-feature-color,
.pricing-cost-color,
.pricing-included-color {
    flex: 1;
    text-align: center;
    position: relative;
    border-right: 1px solid #ccc; 
}



.pricing-row .pricing-feature,
.pricing-row .pricing-cost,
.pricing-row .pricing-included {
    border-right: 1px solid #ccc; 
}


.total-row .pricing-feature,
.total-row .pricing-cost {
    border-right: none; 
}

.pricing-row .pricing-feature:last-child,
.pricing-row .pricing-cost:last-child,
.pricing-row .pricing-included:last-child {
    border-right: none;
}




