*{
    margin : 0;
    padding: 0;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}
.container{
    width: 80%;
    
 }
/* Header */
.containerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#E6E6FA;
    height: auto;
    width:100%;
}
.menu {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .right {
    display: flex;
    list-style-type: none;
    margin: 40 80px
}


.menu .right li {
   padding-left: 35px
}

.menu .right li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);

}
.menu .right li a:hover,
.menu .right li a:active {
    color: var(--blue);
}


.menu .left div {
    border-radius: 5px;
    padding: 10px;
}
.menu .left  {
    display: flex;
    justify-center: center;
    gap:12px;
    height: 45px;
    width: 345px;
}
.one{
   background:var(--blue); 
   color:var(--white);
   width: 130px;
   text-align: center;
   font-size: 16px;
   padding: 12px 20px;
}
.two {
    background: var(--pink); 
    color:var(--white);
    width: 130px;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    margin-left: 20px;
}
.one:hover, .one:active,
.two:hover, .two:active {
    background-color: var(--black);
    color: var(--white); 
}
/* @media (max-width: 768px) {
    .menu .right {
      display: none;
    }
  
    .menu .left {
      width: 100%;
      justify-content: space-between;
    }
  
    .menu-toggle {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
    }
  } */
/* Header */
/* Footer */
.containerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 85%;
    
}

.containerFooter .footer {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: flex-start;
 
}

.containerFooter .footer > div {
    flex: 1;
}
.containerFooter .footer > div h5 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.containerFooter .footer > div ul {
    padding: 0;
    list-style-type: none;
}
.containerFooter .footer > div ul li {
    margin-bottom: 10px;
}
.containerFooter .footer > div ul li a {
    text-decoration: none;
}
.containerFooter .footer > div ul li a:hover {
    text-decoration: underline;
}
.containerFooter .footer .zeme {
    align-items: flex-start;
} 
.containerFooter .footer .zeme img {
    width: 135px;
    height: auto;
    align-self: flex-start;
    margin-left: 30px;
}

.containerFooter .footer .zeme ul {
    list-style: none;
}
.containerFooter .footer .zeme ul li {
    display: flex;
    align-items: center;
}
.containerFooter .footer .zeme p {
    font-weight: bold;
    font-size: 18px;
}
.containerFooter .footer .zeme p span {
    color: var(--blue);
}
.containerFooter .footer .zeme .facebook-icon {
    margin-bottom: 10px;
}
.jet{
  display: flex;
  align-items: center;
  justify-content: center;

}
.copy{
 display: flex;
 align-items: center;
 margin-right: 600px;
}
.copy img {
    margin-left: 50px;
}

.copy span {
    margin-left: 50px; 
    color: var(--gray);
}
.copy p{
    color: var(--gray);
}
.icon{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
.footer .zeme .icon .facebook-icon, .youtube-icon {
    width: 35px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center; 
   
}
.footer .zeme .icon .facebook-icon{
   color: #3b5998;
}
.footer .zeme .icon .youtube-icon {
 color: #ff0000;
}
.footer .zeme .icon .instagram-icon,.pinterest, .dribbble, .linkedin, .facebook-icon, .youtube-icon{
    font-size: 30px
}
.footer .zeme .icon .pinterest{
    color: red;
}
.footer .zeme .icon .linkedin{
    color: blue;
}

/* Footer */

/* Part 8 */
.part-eight  {
    position: relative;
    overflow: hidden; 
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
}

.part-eight img {
    display: block;
    padding-top: 20px;
}

.part-eight .overlay-image {
    position: absolute;
    top: 150px;
    left: 20%;
}
/* Part 8 */
.container-partone{
    background: var(--gray-one);
    height: auto;
    width:100%;
}

/* Part 1 */
.container-partone{
    background:#E6E6FA;
    height: auto;
    width:100%;
}

.part-one {
    padding: 20px;
    margin: 0 auto;
    height: auto; 
    display: flex;
    align-items: flex-start;
}

.part-one .all-slider {
    flex-basis: 35%; 
    padding: 35px;
}

.part-one .image-slider {
    display: flex;
    flex-basis: 65%; 
    justify-content: space-between;
    padding: 20px;
    
}

.part-one .image-slider img {
   max-width: 100%;
    height: auto;
}
.part-one .slide-image{
    position: absolute;
    left:630px;
    top: 50%;
    width: 20%
 
  }
.part-one .all-slider .cusomers {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: #0dcaf0;
    border-radius: 25px;
    border: 1px;
    color: var(--white);
    font-weight: bold;
    margin: 20px 0;
}


.part-one .all-slider .buy-now {
    background-color: var(--blue);
    width: 180px;
    height: 55px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px;
    color: var(--white);
    font-weight: bold;
    margin: 10px 0;
}

.part-one .all-slider .buy-now:hover {
    background-color: var(--black);
    color: var(--white);
}

.part-one .all-slider .list-nice, .nice-fire {
    color: var(--pink);
    font-size: 57px;
    font-weight: bold;
}

.part-one .all-slider .shopify {
    font-weight: bold;
    font-size: 23px;
}

.part-one .all-slider .shopify span {
    color: #95BF46;
}

.part-one .all-slider p {
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

.part-one .all-slider .arrow {
    font-size: 24px;
    margin-left: 10px;
    display: inline-block;
}

.part-one .all-slider .right-arrow {
    color: var(--blue);
}

.part-one .all-slider .vendy {
    display: block;
    margin: 5px 0;
}



/* Part 2 */
.container-parttwo{
    background:#E6E6FA;
    height: auto;
    width:100%;
}
.part-two {
    text-align: center; 
}
.part-two h5 {
    font-size: 30px;
    margin-bottom: 20px;
}

.part-two .hot-skin {
    font-weight: bold;
    font-size: 18x;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.part-two .hot-skin button {
    padding: 13px 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.part-two .hot-skin .all-demo {
    background-color: var(--blue);
    color: var(--white);
}

.part-two .hot-skin .bonus-skin {
    color: var(--pink);
}

.part-two .hot-skin .two-hot:hover,
.part-two .hot-skin .bonus-skin:hover,
.part-two .hot-skin .two-home:hover {
    background-color: var(--blue);
    color: var(--white);
}

.part-two .homepages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
    position: relative; 
    width: 76%;
}

.part-two .homepages .two-caption {
    flex-direction: column;
    align-items: center;
    position: relative;
    display: inline-block;
}

.part-two .homepages .grid-item {
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.part-two .homepages .grid-item img {
    width: 100%;
    height: auto;
    display: block;
}
.part-two .homepages .caption {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.part-two .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.part-two .two-caption:hover .overlay {
    display: flex;
}


.part-two .demo-button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 8px 39px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.part-two .demo-button:hover {
    background-color: var(--black);
}
.part-two .special-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px; 
    width: 100%;
    background: linear-gradient(180deg, rgba(247, 246, 253, 0.04) 0%, rgba(247, 246, 253, 0.78) 0.01%, #f7f6fd 55.21%, #f7f6fd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-two .view-button {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
}
/* Part 3 */
.part-there {
    position: relative;
    text-align: center;  
}
.part-thereimg {
    width: 100%;
    height: 60vh; 
    display: block;
}
.part-there .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--blue);
    font-size: 45px; 
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    line-height: 1.4; 
}

.part-there .overlay-text span {
    color: var(--pink);
}

.part-there .save-now {
    position: absolute;
    font-weight: bold;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 55px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    
}
.part-there .save-now:hover {
   background-color: var(--black);
   color: var(--white);
    
}

    /* Part 4 */
.part-for  {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-top: 70px;

}

.part-for h5 {
    font-size: 30px;
    margin-top: 15px;
}  
.part-for p {
    font-weight: bold;
    padding-top: 15px;
}
.part-for .support-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%; 
    flex-wrap: wrap;
  
}

.part-for .support-links div {
    padding: 15px 20px;
    padding-top: 30px;
    color: var(--blue);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    flex: 0 1 auto;
    font-size: 20px;
}
.part-for .support-links div:hover {
  color: var(--black);
  
}

/* Part 6 */
.part-six{
    text-align: center;
    
}
.part-six h5{
    font-size: 30px;
    margin-bottom: 20px;
}
.part-six .composer {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}

.part-six .composer button {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border: 1px   ; 
    background-color: transparent; 
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.part-six .composer .composer-button{
    background-color: var(--palegray);  
}
.part-six .composer button:hover {
    background-color: var(--palegray);  
}
.part-six  .composer button img {
    margin-right: 10px;
    height: 30px; 
    width: 30px; 
   
}
.part-six  .free-ecomposer {
    margin-bottom: 20px;
    background-color: var(--palegray);
    
}
.part-six  .free-ecomposer h5{
   padding-top:50px;
}
.part-six  .free-ecomposer p {
    margin-bottom: 20px;
    color: var(--gray);
}
.part-six  .free-ecomposer button{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  
}
.part-six  .free-ecomposer button:hover{
    background-color: var(--black);
    color: var(--white);
   
  
}
.part-six  .free-ecomposer img {
    margin-bottom: 30px
}
.part-six .composer .six-one{

    border: 1px solid var(--gray-one)
}
/* Part 5 */
.five-container{
    background: #E6E6FA;
}
.part-five {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: auto;
    margin-left: auto;
    margin-right: 130px;
  
   
  
}
.part-five div {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}
.part-five div span {
    color: var(--blue);
}
.part-five p {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--gray);
}

/* .part-five .text-five {
    flex-wrap: wrap;
    gap: 25px; 
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
} */


.part-five .text-five > div {
    flex: 1 1 25%; 
}

.part-five .text-five .side-by-side {
    display: flex;
    align-items: center;
    margin: 0;
}

.part-five .text-five img {
    max-width: 95%;
    height: auto;
    display: block;
    margin: 10px auto;
    
}

.part-five .text-five .side-by-side img:first-child {
    max-width: 50%;
}

.part-five .text-five .side-by-side img:last-child {
    max-width: 35%;
}
.part-five .text-five p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--black);
}
.five-whish {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    margin: 0 auto;
    width: 95%;
    height: auto;
}

.five-whish-one, .five-whish-two, .five-whish-there {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--white);
    height: 300px;
}
.drawer, .cards, .color , .there {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--white);
    height: 300px; 
}
.drawer, .cards, .color , .there {
    flex-basis: 30%; 
}

.five-whish-one{
    flex-basis: 60%; 
}

.five-whish-two {
    flex-basis: 25%; 
}

.five-whish-there {
    flex-basis: 35%; 
}
.five-whish-one img,
.five-whish-two img,
.five-whish-there img {
    max-width: 100%; 
}

/* Part 7 */
.part-seven {
    text-align: center;
}

.part-seven h5 {
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.part-seven p {
    margin-bottom: 20px;
    font-size: 14px;
}

.part-seven .discover {
    color: var(--gray);
}

.part-seven .seven-design {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    width: 76%; 
    margin: 0 auto;
    margin-bottom: 40px;
}

.part-seven .seven-design img {
    width: 55px;
    height: 55px;
}
.part-seven .seven-design .item .text {
    text-align: left;
    padding-left: 0;
    margin-left: 0; 
}

.part-seven .seven-design .item .text p {
    margin: 0; 
}
.part-seven .seven-design .item .text .seven-respon {
    font-weight: bold;
    font-size: 17px;
    margin: 0; 
   
}

.part-seven .seven-design .item .text .seven-vendy {
    color: var(--gray);
    margin-top: 5px;
}

.part-seven .seven-design .item {
    display: flex;
    align-items: center;
}

.part-seven .seven-design .item img {
    margin-right: 20px;
}

.part-seven .seven-design .item .text {
    display: flex;
    flex-direction: column;
}
/* Part 9 */
.part-nine {
    text-align: center;
}

.part-nine h5 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.part-nine p {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 20px;
}

.part-nine .pricing-table {
    width: 76%;
    border-collapse: collapse;
    margin: 40px auto; 
    padding: 0px;
    border: 1px solid #ddd; 
    background-color: #f9f9f9;
    text-align: center; 
    position: relative; 
}

.part-nine .pricing-table .pricing-row,
.part-nine .pricing-table .pricing-row-color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative; 
}

.part-nine .pricing-table .pricing-row-color {
    padding: 20px 10;
    background-color: var(--blue);
    color: #fff; 
    border-radius: 5px 5px 0 0;
}

.part-nine .pricing-table .pricing-row {
    border-bottom: 1px solid #ddd;
}



.part-nine .pricing-table .pricing-row:nth-child(even) {
    background-color: var(--white);  
}

.part-nine .pricing-table .pricing-row:nth-child(odd) {
    background: var(--palegray);
}

.part-nine .pricing-table .pricing-row .pricing-feature,
.part-nine .pricing-table .pricing-row .pricing-cost,
.part-nine .pricing-table .pricing-row .pricing-included {
    font-size: 16px;
    text-align: center;
}

.part-nine .pricing-table .pricing-feature-color, 
.part-nine .pricing-table .pricing-cost-color, 
.part-nine .pricing-table .pricing-included-color {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.part-nine .pricing-table .pricing-row .pricing-feature {
    font-weight: bold;
    text-align: left; 
    padding-left: 56px;
    padding-top: 20px
}

.part-nine .pricing-table .pricing-feature-color {
    text-align: left; 
    padding-left: 55px; 
}

.part-nine .pricing-table .pricing-row .pricing-cost {
    color: var(--black);
    font-weight: bold;
}

.part-nine .pricing-table .pricing-row .pricing-cost span {
    color: var(--black);
}

.part-nine .pricing-table .pricing-row .pricing-included {
    color: var(--pink);
    font-weight: bold;
    font-size: 20px;
}

.part-nine .pricing-table .total-row .pricing-button {
    background-color: var(--pink); 
    color: var(--white); 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    font-size: 23px; 
    cursor: pointer; 
    font-weight: bold; 
    display: inline-block;
    width: 200px; 
    height: 50px; 
    margin: 20px auto 0; 
}

.part-nine .pricing-table .total-row .pricing-button:hover {
    background-color: var(--black); 
}

.part-nine .pricing-table .total-row .pricing-feature {
    font-weight: bold;
    font-size: 23px;
}

.part-nine .pricing-table .total-row .pricing-cost {
    font-weight: bold;
    font-size: 23px;
    color: var(--pink);
}

.part-nine .pricing-table .total-row .pricing-included {
    font-size: 18px;
    color: var(--pink);
}

.part-nine .pricing-table .with {
    background: var(--blue);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.part-nine .pricing-table .with p {
    font-size: 29px;
    font-weight: bold;
    color: var(--white);
    margin: 0; 
}

.part-nine .pricing-table .with span {
    background-color: #07c2ff;
    color: #fff;
    padding: 0.7px 5px;
    border-radius: 5px;
}

.part-nine .pricing-table .with span:hover {
    background-color: var(--pink);
}

.part-nine .special-overlay {
    position: absolute;
    bottom: 165px; 
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(247, 246, 253, 0.04) 0%, rgba(247, 246, 253, 0.78) 0.01%, #f7f6fd 55.21%, #f7f6fd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 100%;
    height: 100px; 
    z-index: 0;
}

.part-nine .view-button {
    background-color: transparent;
    color: var(--blue);
    border: none;
    cursor: pointer;
    font-size: 22px;
    text-transform: none;
    pointer-events: all;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

.part-nine .view-button:hover {
    text-decoration: underline;
    color: var(--pink);
}


.pricing-feature,
.pricing-cost,
.pricing-included {
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
}


.pricing-feature-color,
.pricing-cost-color,
.pricing-included-color {
    flex: 1;
    text-align: center;
    position: relative;
    border-right: 1px solid #ccc; 
}



.pricing-row .pricing-feature,
.pricing-row .pricing-cost,
.pricing-row .pricing-included {
    border-right: 1px solid #ccc; 
}


.total-row .pricing-feature,
.total-row .pricing-cost {
    border-right: none; 
}

.pricing-row .pricing-feature:last-child,
.pricing-row .pricing-cost:last-child,
.pricing-row .pricing-included:last-child {
    border-right: none;
}