
@media only screen and (max-width: 600px) {
    .containerMenu .menu .right{
        display:none;
    }
    /* Header */
    .containerMenu {
        display: flex;
        height: auto;
        width: 100%;
    }
    .menu .left div {
        border-radius: 5px;
        padding: 7px;
    }
    .menu .left  {
        display: flex;
        justify-center: center;
        gap:1px;
        height: 40px;
        width: 250px;
        justify-content: flex-start;
   
    }
    .one{
       background:var(--blue); 
       color:var(--white);
       text-align: center;
       font-size: 15px;
       padding: 20px 20px;
    }
    .two {
        background: var(--pink); 
        color:var(--white);
        text-align: center;
        font-size: 15px;
        padding: 3px;
        margin-left: 5px;
    }
  




    .container-parttwo{
        background:#E6E6FA;
        height: auto;
        width:100%;
    }
    .part-two .homepages.container {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
    .part-two h5 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .part-two .hot-skin {
    justify-content: flex-start;
    gap: 10px; 
    padding-left: 10px; 
    padding-right: 10px; 
    }
    
    .part-two .hot-skin button {
        padding: 10px 12px;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    .part-two .homepages {
        display: grid;
        width: 90%;
        height: auto;
       
        position: relative; 
    
    }
    
}



