/* Part 1 */
.container-partone{
    background:#E6E6FA;
    height: auto;
    width:100%;
}

.part-one {

    margin: 0 auto;
    height: auto; 
    display: flex;
    align-items: flex-start;
}

.part-one .all-slider {
    flex-basis: 35%; 
    padding: 35px;
}



.part-one .image-slider img {
    max-width: 100%;
    height: auto;
}

.part-one .all-slider .cusomers {
    width: 120px;
    height: 35px;
    font-size: 15px;
    background-color: #0dcaf0;
    border-radius: 25px;
    border: 1px;
    color: var(--white);
    font-weight: bold;
    margin: 20px 0;
}


.part-one .all-slider .buy-now {
    background-color: var(--blue);
    width: 180px;
    height: 55px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px;
    color: var(--white);
    font-weight: bold;
    margin: 10px 0;
}

.part-one .all-slider .buy-now:hover {
    background-color: var(--black);
    color: var(--white);
}

.part-one .all-slider .list-nice, .nice-fire {
    color: var(--pink);
    font-size: 57px;
    font-weight: bold;
}

.part-one .all-slider .shopify {
    font-weight: bold;
    font-size: 23px;
}

.part-one .all-slider .shopify span {
    color: #95BF46;
}

.part-one .all-slider p {
    color: var(--blue);
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

.part-one .all-slider .arrow {
    font-size: 24px;
    margin-left: 10px;
    display: inline-block;
}

.part-one .all-slider .right-arrow {
    color: var(--blue);
}

.part-one .all-slider .vendy {
    display: block;
    margin: 5px 0;
}



@media only screen and (max-width: 900px) {
  .part-one {
    flex-direction: column;
  }
  /* Part 1 */
  .all-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
  }
  .part-one .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .all-slider {
    width: 60%;
    position: relative;
  }
  .part-one .all-slider .cusomers {
      width: 120px;
      height: 40px;
      font-size: 16px;
      background-color: #0dcaf0;
      border-radius: 20px;
      border: 1px;
      color: var(--white);
      font-weight: bold;
      margin: 20px 0;
  }
  .vendy {
    width: 60%;
    height: auto;

    margin-left: auto; 
  }
  .part-one .all-slider .shopify {
      font-weight: bold;
      font-size: 16px;
  }
  
  .part-one .all-slider .shopify span {
      color: #95BF46;
  }
  .part-one .all-slider .list-nice, .nice-fire {
      color: var(--pink);
      font-size: 50px;
      font-weight: bold;
  }
  .buy-container {
    display: flex;
    align-items: center;
  
  }

  .part-one .all-slider .buy-now {
  background-color: var(--blue);
  width: 130px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px;
  color: var(--white);
  font-weight: bold;
  margin: 10px 0;
  }
  .part-one .all-slider p {
      font-size: 15px;
  }
  .arrow {
    color: #0000ff;
  }
  .see {
    width: 230px;
    height: auto;
  }
  .image-slider {
     
      flex-direction: column;
      align-items: center;
      
  }

  .image-slider img {
      max-width: 100%;
      height: auto;

  }


  .buy-container {
    gap: 30px; 
  }

  .buy-container p {
    white-space: nowrap;
  }
  
}

@media only screen and (max-width: 600px) {
  .container-partone {
    background: #E6E6FA;
    height: 700px;
    width: 100%;
}
  .part-one {
    flex-direction: column;

  }
  .all-slider{
      margin-left: 40px;
  }
  .part-one .all-slider .shopify {
    font-weight: bold;
    font-size: 18px;
   
  }
 
  .part-one .all-slider .list-nice, .nice-fire {
      color: var(--pink);
      font-size: 50px;
      font-weight: bold;
  }
  .see {
    width: 250px;
  }
  .part-one .all-slider .cusomers {
      width: 130px;
      height: 40px;
      font-size: 16px;
      background-color: #0dcaf0;
      border-radius: 20px;
      border: 1px;
      color: var(--white);
      font-weight: bold;
      margin: 20px 0;
  }
  .vendy {
      width: 80%;
      height: auto;
    
      margin-left: auto;
  }
  .part-one .all-slider .buy-now {
      background-color: var(--blue);
      width: 130px;
      height: 40px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px;
      color: var(--white);
      font-weight: bold;
      margin: 10px 0;
  }
  .part-one .all-slider p {
      color: var(--blue);
      font-weight: bold;
      font-size: 17px;
      margin: 20px 0;
    
  }
  .shopify{
    width: 300px;
   margin-left: 30px;
}
.buy-container {
    height: 50px;
}
.see{
    padding-top: 5px;
}
}



 