
/* Part 7 */
.part-seven {
    text-align: center;
}

.part-seven h5 {
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.part-seven p {
    margin-bottom: 20px;
    font-size: 14px;
}

.part-seven .discover {
    color: var(--gray);
}

.part-seven .seven-design {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px; 
    width: 70%; 
    margin: 0 auto;
    margin-bottom: 40px;
}

.part-seven .seven-design img {
    width: 55px;
    height: 55px;
}
.part-seven .seven-design .item .text {
    text-align: left;
    padding-left: 0;
    margin-left: 0; 
}

.part-seven .seven-design .item .text p {
    margin: 0; 
}
.part-seven .seven-design .item .text .seven-respon {
    font-weight: bold;
    font-size: 17px;
    margin: 0; 
   
}

.part-seven .seven-design .item .text .seven-vendy {
    color: var(--gray);
    margin-top: 5px;
}

.part-seven .seven-design .item {
    display: flex;
    align-items: center;
}

.part-seven .seven-design .item img {
    margin-right: 20px;
}

.part-seven .seven-design .item .text {
    display: flex;
    flex-direction: column;
}
@media only screen and  (max-width: 900px) {

    /* Part 7 */
    .part-seven h5 {
        font-size: 24px; 
    }
    
    .part-seven .seven-design {
        grid-template-columns: repeat(3, 1fr); 
        width: 90%; 
    }
    
    .part-seven .seven-design .item {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        width: 100%;
    }
    
    .part-seven .seven-design .item img {
        width: 60px; 
        height: 60px;
        margin-right: 20px; 
        margin-top: -40px; 
    }
    
    .part-seven .seven-design .item .text {
        text-align: left; 
        flex: 1; 
    }
}    
@media only screen and (max-width: 600px) {
    .part-seven {
        text-align: center;
        width: 100%;
        height: auto;
    }
    .part-seven h5 {
        font-size: 20px;
    }
    .part-seven p {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .part-seven .seven-design .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .part-seven .seven-design .item img {
        width: 60px;
        height: auto;
        margin-right: 20px;
        margin-top: -20px;
    }
    .part-seven .seven-design .item .text .seven-respon {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }
    .part-seven .seven-design {
        grid-template-columns: repeat(2, 1fr); 
        width: 90%; 
    }
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
    .item img {
        margin: 0 0 10px 0;
    }
}
@media only screen and (max-width: 400px) {
    .part-seven .seven-design {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
    }
}


