<div class="form-homeadd">
    <div class="form-add">
        <form id="form-trello" method="POST" action="/trello">
            <div class="cart">
                <textarea class="cart-composer" id="title" placeholder="Enter a title for this cart"></textarea>
            </div>
        </form>
        <div class="control">
            <button id="title-list" class="btn">Add List</button>
            <div class="close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>
</div>




<div class="homepage">

    <div class="another">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="iconss-ss" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" stroke="#000" stroke-width="2" d="M12,18 L12,6 M6,12 L18,12"></path>
        </svg>
        <h2 class="btn-another">Add another column</h2>
    </div>
    <section class="section-column">
        <div class="trello-column">
          

     
        </div>
    </section>
</div>



  