/* Part 6 */
.part-six{
    text-align: center;
    
}
.part-six h5{
    font-size: 30px;
    margin-bottom: 20px;
}
.part-six .composer {
   height: 60px;
    display: flex;
    justify-content: center; 
    flex-wrap: no-wrap;
    gap: 20px; 
    
}


.part-six .composer .composer-button{
    background-color: var(--palegray); 
    border: 1px ; 
}
.part-six .composer  button{
    display: flex;
    align-items: center;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--gray-one);
    background-color: transparent; 
}
.part-six  .composer button img {
    margin-right: 10px;
    height: 30px; 
    width: 30px; 
   
}
.part-six  .free-ecomposer {
 
    margin-bottom: 20px;
    background-color: var(--palegray);
}
.part-six  .free-ecomposer h5{
   padding-top:50px;
}
.part-six  .free-ecomposer p {
    margin-bottom: 20px;
    color: var(--gray);
    max-width: 50%;
    margin-left: 500px;
    font-size: 14px;
}
.part-six  .free-ecomposer button{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  
}
.part-six  .free-ecomposer button:hover{
    background-color: var(--black);
    color: var(--white);
   
  
}
.part-six  .free-ecomposer img {
    margin-bottom: 30px
}
.six-one{
    padding: 20px;
    margin-bottom: 10px;
}


@media only screen and  (max-width: 900px) {
    /* Part 6 */
    .part-six h5 {
        font-size: 22px;
    }
    .part-six .composer {
        gap: 10px;
    }
    
    .part-six  .composer button img {
        margin-left: 10px;
        height: 20px; 
        width: 20px; 
       
    }
    .part-six .free-ecomposer img {
        width: 90%;
        height: auto;
    }
    .free-ecomposer p {
      font-size: 14px;
    }
    .part-six  .free-ecomposer button {
        padding: 15px 35px;
    }
   
    .part-six .composer  button  {
        padding: 5px 60px;
        align-items: center;
        background-color: transparent; 
        cursor: pointer;
        flex-direction: column;
     
    }
    .part-six .free-ecomposer p {
        margin-bottom: 20px;
        color: var(--gray);
        width: 100%;
        max-width: 95%;
        margin-left: 20px;
        font-size: 14px;
    }
    
    
}

@media only screen and (max-width: 600px) {
     .part-six{
        width: 100%;
        height: auto;
     }
    .part-six h5 {
        font-size: 22px;
        padding-top: 20px;
    }
  
    .part-six .composer  button  {
        padding: 8px 37px;
        align-items: center;
        background-color: transparent; 
        cursor: pointer;
        flex-direction: column;
        
     
    }
    .part-six  .composer button img {
        margin-left: 10px;
        height: auto; 
        width: 20px; 
       
    }
    .part-six  .composer .six-one,
    .part-six  .composer .composer-button p {
        font-size: 12px;
    }
    .part-six .free-ecomposer img {
        width: 90%;
        height: auto;
    }
    .part-six .free-ecomposer h5 {
        font-size: 20px;
      }
    .part-six .free-ecomposer p {
      font-size: 14px;
    }
 
    .part-six  .free-ecomposer button{
        background-color: var(--blue);
        color: var(--white);
        font-weight: bold;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      
    }
    
    .part-six .composer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
   
    }
    .six-one{
        padding: 30px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:400px) {
    .part-six .composer button {
        padding: 7px 19px;
    }
        .part-six .free-ecomposer p {
        max-width: 90%;
     
    }
  
}