{{#if cards}}
    {{#each cards}}
        <div class="list-cart-item">
            <input class="list-cart-item_title" value="{{title}}" data-card-id="{{_id}}" />
            <button class="delete-card" data-deletecard="{{_id}}">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    {{/each}}
{{else}}
    <div class="list-cart-item">
        <input class="list-cart-item_title" value="Card mẫu" data-card-id="123" />
        <button class="delete-card" data-deletecard="123">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
{{/if}}
