
.footer-one{
    background-color: var(--yellow);
    display: flex;
    height: 65px;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly ;
    margin-bottom: 40px;
}
.footer-one div img {
    padding-top : 12px;
    margin-left: 210px;
}
.footer-one .one-one ul {
    padding-top: 25px;
    gap: 25px;
    display: flex;
    margin-left: 80px;
    font-size: 14px;
    color: white;
}
.footer-one .one-one ul li{
    list-style-type: none;
}
.footer-one .one-there {
    justify-content: center;
    text-align: center;
    margin-right: 190px;
    padding-top: 13px;
}
.footer-one .one-there i{
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 60%;
    text-align: center;
    color: white;
    height: 32px;
    width: 38px;
    line-height: 40px;
    left: 210px;
    font-size: 16px;
    gap: 15px;

}
.footer-two {
    display: flex;
    gap: 80px;
    text-align: center;
    justify-content: center;
    text-align: left;
    line-height: 30px;
    margin-bottom: 20px;
    max-width: 2000px;
    margin-left: 240px;
}
.footer-two .two-one ul {
    background: url(https://opencart4.magentech.com/themes/so_emarket/layout3/extension/so_theme/catalog/view/template/images/icon/icon-contact.png) no-repeat left top;
    
} 
.footer-two .two-one ul li {
 
    line-height: 20px;
    list-style: outside none none;
    padding: 10px 10px 10px 40px;
    text-transform: capitalize;
}

.footer-two div h4 {
  font-size :14px;
  margin-bottom: 32px;
}
.two-for .image-home{
    display: flex;
    flex-basis: 100%;
    gap: 10px;
}

.image-one img {

    height: 150px;
    width: 200px;
}
.image-two{
    width: 40%;
}
.image-two img{
   max-width: 100px;
  word-break: break-all;

}
.footer-two .two-one ul,
.footer-two .two-my ul,
.footer-two .two-there ul {
    color: var(--gray);
    font-size: 14px;
}

.two-hr{
    width: 1180px;
    margin-left: 370px;
    color: var(--gray);
}

.footer-there {
    padding-top: 40px ;
    display: flex;
    height: 100px;
}
.there-one {
    display: flex;
    gap: 30px;
    margin-left: 370px;
 
}
.there-one i {
   font-size: 50px ;
   color: var(--black);
}

.there-one div h4 {
    font-size: 20px;
    margin-bottom: 3px;
}
.there-one div p {
    color: var(--gray);
    font-size: 14px;
}
.there-two {
    display: flex;
    margin-left: 175px;
  
}
.there-email{
    border: 1px solid var(--gray) ;
    padding: 10px 260px 0px 20px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    
}
.there-two div input {
    max-width: 800px;
    border: none ;
    padding-top: 5px ;
}
.there-two div input placeholder{
    padding-right: 100px;
}

.there-two div button{
    padding: 14.5px 30px;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
    background-color: var(--yellow);
    border: none;
    border-radius: 0 5px 5px 0;
}
.footer-for{
    padding-top: 20px;
    display: flex;
    max-width: 100%;
    margin-bottom: 10px;
}
.footer-for p {
    font-size: 14px;
    padding-left:370px;
    max-width: 100%;
    display: flex;
    
}

.footer-for p span{
    color: var(--yellow);
    
}
.footer-for img {
    margin-left: 310px;
    height: 25px;
}
@media only screen and  (max-width: 900px) {
    .one-there{
        display: none
    }
    .footer-one div img {
        padding-top: 12px;
        margin-left: 0px;
    }
    .footer-one .one-one ul {
        padding-top: 25px;
        gap: 40px;
        display: flex;
        margin-left: 0px;
        font-size: 14px;
        color: white;
    }
    .two-hr {
        width: 700px;
        margin-left: 100px;
        color: var(--gray);
        display: none;
    }
    .there-one {
        display: none;
    }
   .there-two{
    display: none;
   }
   .footer-there{
    display: none;
   }
    .footer-for {
        padding-top: 20px;
        display: flex;
        max-width: 100%;
        margin-bottom: 10px;
        margin-left: 90px;
        gap: 30px;
    }
    .footer-for p {
        font-size: 14px;
        padding-left: 10px;
        max-width: 45%;
        flex-wrap: wrap ;
    }

    .footer-for img {
        margin-left: 10px;
        height: 20px;
        width: 300px;
    }
    .footer-two {
        display: flex;
        gap: 80px;
        text-align: center;
        justify-content: center;
        text-align: left;
        line-height: 30px;
        margin-bottom: 20px;
        max-width: 1000;
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .two-for{
        display: none;
    }
}