
.part-one {
    margin: 40px;
    width: 100%;
    max-width: 61.5%;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: 370px;
    border: 1px solid var(--border);
    border-radius: 5px;
}
.one-right{
    padding-top: 15px;
    padding: 20px;
}
.one-all{
  font-weight: bold;
  display: flex;
  gap: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
}
.one-all i {
    padding-top: 2px;
    font-size: 12px;
}

.one-right ul{
    padding-top : 10px;
}
.one-right ul .gifts:hover{
  color: var(--yellow);
}
.one-right ul .gifts-toy a:hover{
    color: var(--yellow);
  }
  .one-right ul .gifts-toy a{
    text-decoration: none;
    color: #666666;
  }
.one-right ul li{
    padding-top: 15px;
    list-style-type: none;
    font-size: 14px;
    color: #666666;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
}
.one-right ul li i {
    font-size: 12px;
   padding: 6px;
}
.one-right ul li .gifts-toy a b{
    padding-left: 50px;
    flex-direction: row-reverse;
}
.one-right ul li .gifts-toy .b-toy b{
    padding-left: 108px;
    flex-direction: row-reverse;
}
.one-right ul li .gifts-toy .b-bath b{
    padding-left: 115px;
    flex-direction: row-reverse;
}
.grifts{
    display: flex;

}
.grifts b {
    padding-left: 200px;
}
.part-one img {
    position: relative;
    padding: 20px;
    height:390px;
}
.one-more ul li,
.one-more ul li i{
    color: var(--yellow);
}
.gifts-toy{
    display: flex; 
}
/* HOVER  */
.one-right .all-cate li.gifts  .sub-bathroom,
.one-right .all-cate li.gifts  .sub-gifts ,
.one-right .all-cate li.gifts  .sub-optimum {
    border: 1px solid var(--border);
    background-color: var(--white);
    padding: 10px 10px;
    position: absolute;
    z-index: 999;
    display: none;
}
.one-right .all-cate li.gifts  .sub-bathroom {
    width: 200px;
    height: 150px;
    top: 500px;
    left: 625px;

} 
.one-right .all-cate li.gifts  .sub-gifts {
    width: 600px;
    height: 450px;
    top: 280px;
    left: 625px;
} 
.one-right .all-cate li.gifts  .sub-optimum{
    width: 600px;
    height: 450px;
    top: 280px;
    left: 628px;
} 
.one-right .all-cate li.gifts:hover .sub-bathroom,
.one-right .all-cate li.gifts:hover .sub-gifts,
.one-right .all-cate li.gifts:hover .sub-optimum{
    display: flex;

}
 .one-right .all-cate .gifts .sub-bathroom,
 .one-right .all-cate .gifts .sub-gifts {
    border: 1px  solid var(--border);
    background-color: white;
}
.one-right .all-cate .gifts .sub-bathroom .sub-li  li,
.one-right .all-cate .gifts .sub-bathroom .sub-gif  li {

    color: var(--gray);
    padding: 0px 30px 0px 10px;
    line-height: 20px;
    cursor: pointer;
}

.one-right .all-cate li.gifts:hover .sub-gifts{
    gap: 50px;
    padding: 20px ;
}
.one-right .all-cate li.gifts:hover .sub-optimum{
    gap: 10px 30px;
    flex-wrap: wrap;
}






@media only screen and  (max-width: 900px) {
    .part-one {
        width: 100%;
        max-width: 705px;
        height: auto;
        height: auto;
        display: block;
        justify-content: center;
        margin-left: 80px;
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 20px;
    }
    .part-one img {
        width: 700px;
        position: relative;
        height: 350px;
        padding:0px;
    }
    .righto{
        display: none;
    }
    .one-more {
        display: none;
    }
    .one-all {
        color: var(--gray);
    }
}
@media only screen and (max-width: 600px) { 
    .part-one {
        margin: 20px;
        width: 100%;
        max-width: 465px;
        height: auto;
        display: block;
        justify-content: center;
        margin-left: 45px;
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 20px;
    }
    .one-all {
        font-size: 12px;
        padding-left: 5px;
        margin-bottom: 10px;
    }
    .one-right {
        padding-top: 15px;
        padding: 0px;
        padding-right: 0px;
    }
    .part-one img {
        width: 460px;
        position: relative;
        height: 250px;
        padding: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .part-one {
        margin: 10px;
        max-width: 330px;
        display: block;
        justify-content: center;
        margin-left: 14px;
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 20px;
    }
    .part-one img {
        width: 330px;
        position: relative;
        height: 150px;
        padding: 0px;
    }
 }