.part-six{
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 1170px ;
    margin-left: 370px;
}
.six-right{
    display:flex;
    justify-content:  center ;

}
.six-right ul{
    display: flex;
    list-style-type: none;
}
.six-right ul li{

    border: 1px solid var(--border);
    padding: 20px 48px;
    text-align: center;
    color: var(--gray);

}
.six-right ul li:hover{

   background: var(--border);
}
.six-right ul li p {
    max-width: 100px;
}
.smart{
  
  display: flex;

}
.six-left{
    padding-top : 30px ;
    display:flex;
    justify-content:  center ;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
    margin-left: 0px;
}
.six-left .six-con {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    background: var(--bg-xam);
    margin-bottom: 30px;
}
.six-left .six-con p {
   font-size: 14px;
   font-family: 'Roboto', sans-serif; 
   padding: 8px;
}
.six-left .six-con .start i {
    color: var(--gray);
    font-size: 10px;
    padding-bottom: 8px;
 }
 .six-left .six-con .price .price-new {
    font-weight: bold;
    padding: 4px;

 }
 .six-left .six-con .price .price-old{
   font-size: 12px;
   color: var(--gray)
 }
 .box-sale {
    background: var(--yellow);
    right:20px;
 }
 .box-sale .sale {
    background-color: var(--yellow);
    text-align: center;
    border-radius: 50%;
    color: white;
    display:block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 15px;
    text-transform: uppercase;
    z-index: 2;
    font-weight: 700px;
    left: 210px;
    font-size: 12px;
 }

.inci{
    height: 95px;
}

.six-con .sub-six{
    position: absolute;
    top:37px;
    display: flex;
    flex-direction: column;
    /* left: 20px; */
    opacity: 0;
    transform: translateX(1%);
    transition: opacity .2s ease, transform .2s ease;
}

.six-con:hover .sub-six{
    opacity: 1;
    transform: translateX(50%);
}

.six-con .sub-six i{
    background-color: var(--gray);
    padding: 10px;
    margin-bottom: 10px;
    color: var(--white);
    font-size: 12px;
    border-radius: 5px;
}

.cellphone{
    background-color: var(--border);
}
.price .price-new-ol {
    font-weight: bold;
}
.cellphone button {
   display: none;

}
.hr.add{
    color: #Ff9600 ;
}

@media only screen and  (max-width: 900px){
    
    .part-six {
        border: none;
        border-radius: 5px;
        width: 770px;
        margin-left: 70px;
    }
    .none-cos{
        display: none;
    }
    .jala{
        display: none;
    }
    .cellphone button {
        padding: 8px;
        padding-left: 10px;
        background: var(--border);
        border: 1px solid var(--border);
        display: block;
    }
 
    .six-right ul li p {
        font-size: 13px;
        padding-top: 8px;
        padding-left: 10px;
        margin-right: 80px;
    }
    .six-right ul li {
        border: 1px solid var(--border);
        padding: 0px 0px;
        text-align: center;
        color: none;
    }
    .cellphone {
        background-color: var(--white);
        margin-right: 570px;
        display: flex;
    }
    .cellphone img {
        display: none;
    }
    .six-left {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 700px;
        gap: 30px;
        margin-left: 50px;
    }
    .six-con img {
        width: 230px;
    }
    .box-sale .sale {
        background-color: var(--yellow);
        text-align: center;
        border-radius: 50%;
        color: white;
        display: block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        position: absolute;
        top: 15px;
        text-transform: uppercase;
        z-index: 2;
        font-weight: 700px;
        left: 170px;
        font-size: 12px;
    }
/* Hover  */
.six-con .sub-six{
    position: absolute;
    top:37px;
    display: flex;
    flex-direction: column;
    /* left: 20px; */
    opacity: 0;
    transform: translateX(1%);
    transition: opacity .2s ease, transform .2s ease;
}

.six-con:hover .sub-six{
    opacity: 1;
    transform: translateX(50%);
}
.price .price-new-ol {
    font-weight: bold;
}
}
@media only screen and  (max-width: 600px){
    .part-six {
        border: none;
        border-radius: 5px;
        width: 500px;
        margin-left: 65px;
    }
    .six-right ul li p {
        font-size: 13px;
        padding-top: 8px;
        padding-left: 10px;
        margin-right: 80px;
    }

    .six-left {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 550px;
        gap: 30px;
        margin-left: 0px;
        margin-left: 15px;
    }
    .jal{
        display: none;
    }
    .six-con img {
        width: 240px;
    }
    .box-sale .sale {
        background-color: var(--yellow);
        text-align: center;
        border-radius: 50%;
        color: white;
        display: block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        position: absolute;
        top: 15px;
        text-transform: uppercase;
        z-index: 2;
        font-weight: 700px;
        left: 190px;
        font-size: 12px;
    }
    .cellphone{
        margin-right: 0px;
        
    }
}
