:root {
    --yellow: #Ff9600;
    --red: #ff0000;
    --blue: #0dcaf0;
    --gray: #999999;
    --gray-mo: #f5f5f5
    --white: white;
    --yellow-dam: #D87A00;
    --border: #ebebeb;
    --black: black;
    --black-mo : #666666;
    --white: white;
    --bg-xam: #f7f7f7;
}
